{% extends 'base.html' %}

{% block head %}
<title>Merger</title>
{% endblock %}

{% block body %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">&clubs; Merger</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <form action="upload_many/one" method="POST" class="reveal-content" enctype="multipart/form-data" autocomplete="off">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                      	<label>Load files/Carregar arquivos</label>
                        <input type="file" class="btn btn-danger btn-lg" id="1" name="1" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="2" name="2" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="3" name="3" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="4" name="4" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="5" name="5" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="6" name="6" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="7" name="7" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="8" name="8" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="9" name="9" accept=".PDF,.pdf">
                        <input type="file" class="btn btn-danger btn-lg" id="10" name="10" accept=".PDF,.pdf">
                        <br>
                        <button type="submit" class="btn btn-default btn-lg">Send</button>                        
                        <button type="reset" class="btn btn-basic btn-lg">Reset</button>
                      </div>     
                    </div>
                    <div class="col-md-5">
                      <img src="{{url_for('static', filename='assets/images/profil1.png')}}" class="img-responsive">
                    </div>           
                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
</div>

<!-- MY SCRIPTS -->
<!-- script to display the file names -->
<script type="text/javascript">
  function refreshPage() {
    var t = setTimeout(function () {
      window.location.reload();
      window.clearTimeout(t);
    }, 6000);
  }
</script>
{% endblock %}